@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+IN:wght@100..400&display=swap');

body {
    margin: 0;
    padding: 0;
    color: black;
    background: white;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

header {
    color: white;
    background: rgb(118, 35, 85);
    padding: 15px 0;
}

h1 {
    opacity: 0;
    font-family: "Playwrite IN", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    /* Inicialmente invisível */
    transform: translateY(-50px);
    /* Posição inicial acima */
    animation: titleEntrance 1s forwards;
    /* Animação de entrada */
}

/* Animação de entrada */
@keyframes titleEntrance {
    to {
        opacity: 1;
        /* Torna o título visível */
        transform: translateY(0);
        /* Retorna à posição original */
    }
}

.sessao-projetos {
    text-align: center;
}

.sessao-projetos figure {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

.perfil {
    max-width: 200px;
    margin: auto;
    display: block;
    /* Torna a imagem circular */
    object-fit: cover;
    /* Garante que a imagem preencha o espaço */
}

.nome {
    font-family: "Playwrite IN", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 22px;
    text-align: center;
    padding: 10px;
}

h2 {
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

hr {
    width: 90%;
    margin: 20px auto;
    border: 1px solid rgb(118, 35, 85);
    /* Cor do gradiente */
}

.botoes {
    display: flex;
    flex-direction: column;
    /* Organiza os botões em colunas */
    align-items: center;
    /* Centraliza horizontalmente */
    padding: 20px;
}
.botoes img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: 20px;
    /* Espaçamento entre a imagem e os botões */
}

.botao {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: black;
    box-shadow: 0 0 20px #eee;
    border-radius: 50px;
    display: block;
}

.dicas {
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%)
}

.diario {
    background-image: linear-gradient(to right, #ffc7e6 0%, #d34f96 51%, #FBD3E9 100%);
}

.eco {
    background-image: linear-gradient(to right, #16A085 0%, #F4D03F 51%, #16A085 100%)
}

.botao a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.botao:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: black;
    text-decoration: none;
}

.rodape {
    padding: 40px 0;
    text-align: center;
    background: rgb(118, 35, 85);
    color: white;
}

.rodape h2 {
    font-family: "Playwrite IN", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

ul {
    list-style: none;
}

.example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.example-2 .icon-content {
    margin: 0 10px;
    position: relative;
}

.example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
}

.example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
}

.example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 20px;
    height: 20px;
}

.example-2 .icon-content a:hover {
    color: white;
}

.example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover .filled {
    height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"]~.tooltip {
    background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"]~.tooltip {
    background-color: #24262a;
}

.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"]~.tooltip {
    background: linear-gradient(45deg,
            #405de6,
            #5b51db,
            #b33ab4,
            #c135b4,
            #e1306c,
            #fd1f1f);
}

.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"]~.tooltip {
    background-color: #ff0000;
}


.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
    padding: 10px;
}

/*EFEITO REVEAL*/
.titulo,
.direita,
.esquerda,
.efeito-na-imagem1 .efeito-na-imagem2 .efeito-na-imagem3 .efeito-na-imagem4 .efeito-na-imagem5 {
    visibility: hidden;
}

/*RESPONSIVIDADE PARA CELULAR*/
@media screen and (max-width: 1000px) {

    /*IMAGEM*/
    .sessao-projetos img {
        width: 50%;
    }

    /*TEXTOS*/
    h1 {
        font-size: 22px;
    }

    .nome {
        font-size: 22px;
    }

    h2 {
        font-size: 20px;
    }
}